{% extends "base.html" %}
{% load widget_tweaks %}

<!-- page title -->
{% block title %} - Sesames{% endblock %}

<!-- Custom styles for this page -->
{% block pagecss %}
{% endblock %}

<!-- Page level plugins -->
{% block pageplugin %}
{% endblock %}

<!-- Begin Page Content -->
{% block content %}
<h1>Sesame New</h1>

<form method="post" class="user">
    {% csrf_token %}
    <div class="form-group">
        {% render_field forms.name class="form-control" placeholder="Enter Sesame Name..."%}
    </div>
    <div class="form-group">
        {% render_field forms.auth_token class="form-control" placeholder="Auth Token" %}
    </div>
    <div class="form-group row">
        <input type="submit" value="Login" class="btn btn-primary my-3">
    </div>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
<!-- End of Page Content -->