{% extends "base.html" %}

<!-- page title -->
{% block title %} - Sesames{% endblock %}

<!-- Custom styles for this page -->
{% block pagecss %}
{% endblock %}

<!-- Page level plugins -->
{% block pageplugin %}
{% endblock %}

<!-- Begin Page Content -->
{% block content %}
<h1>Sesame list</h1>

<div class="row">
    <a href="{% url 'sesame_new' %}" class="btn btn-primary">New</a>
</div>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Sesames</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sesames in sesames %}
                    <tr>
                        <td>{{ sesames.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
<!-- End of Page Content -->